$enable-flex: true;
$grid-gutter-width: 20px;
$blue-pale: #E1F3F4;
$green-pale: #DAF7CC;
$blue-dark: #053039;
$blue-darkest: #001C1E;
$gray: #7d9396;
$gray-light: #BCD0D2;
$gray-dark: #263132;
$teal-dark: #126B6F;
$teal: #00939A;
