$enable-flex: true;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 546px,
  lg: 892px,
  xl: 894px
);

$container-max-widths: (
  sm: 576px,
  md: 578px,
  lg: 840px,
  xl: 842px
);

$grid-columns: 12;
$grid-gutter-width: 20px;

$blue-pale: #E1F3F4;
$green-pale: #DAF7CC;
$blue-dark: #053039;
$blue-darkest: #001C1E;
$gray: #7d9396;
$gray-light: #BCD0D2;
$gray-dark: #263132;
$teal-dark: #126B6F;
$teal: #00939A;
