%header
  .container
    .row
      .col-md-8
        %h1= data.app.name
        %p= data.app.tag_line
      .col-md-4
        = retina_image_tag 'app-store.png', width: 215, height: 72

.ipad
  Testing
